@charset "utf-8";

/*+--------------------------------------------------------------------*/
/* ALL
/*+--------------------------------------------------------------------*/
body {
	margin:0;
	padding:0;
	background:#FFF;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", sans-serif;
	font-size:13px;
	*font-size:small;
    *font:x-small;
	line-height:1.6;
	color:#333;
	-webkit-text-size-adjust:none;
}
/*+--------------------------------------------------------------------*/
/* LINK
/*+--------------------------------------------------------------------*/
a {
	color:#666;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

/*+--------------------------------------------------------------------*/
/* CONTENTS
/*+--------------------------------------------------------------------*/
