@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
}
